# codul pentru HPA (Autoscaler)
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: system-monitor-hpa
  namespace: monitoring
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: system-monitor
  minReplicas: 2
  maxReplicas: 10
  metrics:
    # Semnal pt CPU utilizat peste 60% (la nivel de pod, si analizat e requests, nu limit)
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    # Semnal pentru Memorie utilizata peste 70% (la nivel de pod, si analizat e requests, nu limit)
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
